# ---------------- Raw Materials ----------------
Item: Ancient Coin
Image: Ancient Coin.png

Item: Ancient Spores
Image: Ancient Spores.png

Item: Bamboo
Image: Bamboo.png

Item: Basic Fibers
Image: Basic Fibers.png

Item: Basic Hide
Image: Basic Hide.png

Item: Bat Wing
Image: Bat Wing.png

Item: Beginner Glue
Image: Beginner Glue.png
Cost: 260 eon

Item: Chicken Feather
Image: Chicken Feather.png

Item: Coral Scale
Image: Coral Scale.png

Item: Corrupt Air Core
Image: Corrupt Air Core.png

Item: Corrupt Air Piece
Image: Corrupt Air Piece.png

Item: Corrupt Ancient Core
Image: Corrupt Ancient Core.png

Item: Corrupt Ancient Piece
Image: Corrupt Ancient Piece.png

Item: Corrupt Aqua Core
Image: Corrupt Aqua Core.png

Item: Corrupt Aqua Piece
Image: Corrupt Aqua Piece.png

Item: Corrupt Bone Core
Image: Corrupt Bone Core.png

Item: Corrupt Bone Piece
Image: Corrupt Bone Piece.png

Item: Corrupt Death Core
Image: Corrupt Death Core.png

Item: Corrupt Death Piece
Image: Corrupt Death Piece.png

Item: Corrupt Ice Core
Image: Corrupt Ice Core.png

Item: Corrupt Ice Piece
Image: Corrupt Ice Piece.png

Item: Corrupt Nest Core
Image: Corrupt Nest Core.png

Item: Corrupt Nest Piece
Image: Corrupt Nest Piece.png

Item: Corrupt Ninja Core
Image: Corrupt Ninja Core.png

Item: Corrupt Ninja Piece
Image: Corrupt Ninja Piece.png

Item: Corrupt Optica Core
Image: Corrupt Optica Core.png

Item: Corrupt Optica Piece
Image: Corrupt Optica Piece.png

Item: Corrupt Phoenix Core
Image: Corrupt Phoenix Core.png

Item: Corrupt Phoenix Piece
Image: Corrupt Phoenix Piece.png

Item: Corrupt Proto Core
Image: Corrupt Proto Core.png

Item: Corrupt Proto Piece
Image: Corrupt Proto Piece.png

Item: Corrupt Shadow Core
Image: Corrupt Shadow Core.png

Item: Corrupt Shadow Piece
Image: Corrupt Shadow Piece.png

Item: Corrupt Stallion Core
Image: Corrupt Stallion Core.png

Item: Corrupt Stallion Piece
Image: Corrupt Stallion Piece.png

Item: Corrupt Swamp Core
Image: Corrupt Swamp Core.png

Item: Corrupt Swamp Piece
Image: Corrupt Swamp Piece.png

Item: Cotton
Image: Cotton.png

Item: Demon Soul
Image: Demon Soul.png

Item: Empty Bucket
Image: Empty Bucket.png
Cost: 10 eon

Item: Fox Fur
Image: Fox Fur.png

Item: Gear Frame
Image: Gear Frame.png

Item: Gnome Spear
Image: Gnome Spear.png

Item: Grimite Ore
Image: Grimite Ore.png

Item: Ice Cube
Image: Ice Cube.png

Item: Ice Gem
Image: Ice Gem.png

Item: Iron Ore
Image: Iron Ore.png

Item: Jewelry Base
Image: Jewelry Base.png

Item: Jungi Claw
Image: Jungi Claw.png

Item: Jungle Leaflet
Image: Jungle Leaflet.png

Item: Jute
Image: Jute.png

Item: Mini Rock
Image: Mini Rock.png

Item: Pony Tail
Image: Pony Tail.png

Item: Rough Fibers
Image: Rough Fibers.png

Item: Rough Hide
Image: Rough Hide.png

Item: Sand
Image: Sand.png

Item: Sand Stone
Image: Sand Stone.png

Item: Shiny Coin
Image: Shiny Coin.png

Item: Silk
Image: Silk.png

Item: Soft Fibers
Image: Soft Fibers.png

Item: Soft Hide
Image: Soft Hide.png

Item: Sun Leaves
Image: Sun Leaves.png

Item: Web
Image: Web.png

Item: Wood Log
Image: Wood Log.png

# ---------------- Craftable Items ----------------
Item: 1X Gear Frame
Variation 1: 1 Ice Bracer
Cost: 2000 eon
Variation 2: 1 Ice Bracelet
Cost: 2000 eon
Variation 3: 1 Gallop Bracer
Cost: 2000 eon
Variation 4: 1 Gallop Bracelet
Cost: 2000 eon
Variation 5: 1 Skylar Belt
Cost: 2000 eon
Variation 6: 1 Skylar Gloves
Cost: 2000 eon
Image: Gear Frame.png

Item: 1X Jewelry Base
Variation 1: 1 Skylar Necklace
Cost: 2200 eon
Variation 2: 1 Ice Ring
Cost: 1600 eon
Variation 3: 1 Ice Necklace
Cost: 1600 eon
Variation 4: 1 Gallop Ring
Cost: 1600 eon
Variation 5: 1 Gallop Necklace
Cost: 1600 eon
Image: Jewelry Base.png

Item: 2X Gear Frame
Variation 1: 1 Sand Bracer
Cost: 1400 eon
Variation 2: 1 Sand Bracelet
Cost: 1400 eon
Variation 3: 1 Raider Gloves
Cost: 1410 eon
Variation 4: 1 Raider Belt
Cost: 1410 eon
Image: Gear Frame.png

Item: 2X Jewelry Base
Variation 1: 1 Sand Ring
Cost: 1200 eon
Variation 2: 1 Sand Necklace
Cost: 1200 eon
Image: Jewelry Base.png

Item: 3X Gear Frame
Variation 1: 1 Jungle Bracer
Cost: 900 eon
Variation 2: 1 Jungle Bracelet
Cost: 900 eon
Variation 3: 1 Jungle Gloves
Cost: 910 eon
Variation 4: 1 Jungle Belt
Cost: 910 eon
Image: Gear Frame.png

Item: 3X Jewelry Base
Variation 1: 1 Jungle Ring
Cost: 800 eon
Variation 2: 1 Jungle Necklace
Cost: 800 eon
Variation 3: 1 Ancient Gloves
Cost: 500 eon
Variation 4: 1 Ancient Necklace
Cost: 500 eon
Image: Jewelry Base.png

Item: 4X Gear Frame
Variation 1: 1 Ocean Bracer
Cost: 500 eon
Variation 2: 1 Ocean Bracelet
Cost: 500 eon
Variation 3: 1 Ocean Belt
Cost: 510 eon
Variation 4: 1 Ocean Gloves
Cost: 510 eon
Image: Gear Frame.png

Item: 4X Jewelry Base
Variation 1: 1 Ocean Ring
Cost: 400 eon
Variation 2: 1 Ocean Necklace
Cost: 400 eon
Image: Jewelry Base.png

Item: 5X Gear Frame
Variation 1: 1 Shadow Bracer
Cost: 100 eon
Variation 2: 1 Shadow Bracelet
Cost: 100 eon
Variation 3: 1 Shadow Belt
Cost: 100 eon
Variation 4: 1 Shadow Gloves
Cost: 100 eon
Image: Gear Frame.png

Item: 5X Jewelry Base
Variation 1: 1 Shadow Ring
Cost: 100 eon
Variation 2: 1 Shadow Necklace
Cost: 100 eon
Image: Jewelry Base.png

Item: Ancient Gloves
Ingredients: 3 Iron, 1 Beginner Sewing Kit, 2 Basic Textile
Cost: 1800 eon
Image: Ancient Gloves.png
Description: Ancient Gloves
	dmg: 4-7
	stat+ 1acc 4vit
	req: 30LVL

Item: Ancient Necklace
Ingredients: 4 Iron, 6 Ancient Coin, 32 Ancient Spores
Cost: 500 eon
Image: Ancient Necklace.png
Description: Ancient Necklace
	add+ 30hp 30mp
	stat+ 3crit 4pow 5vit
	req: 30LVL

Item: Ancient Plate
Ingredients: 8 Iron, 3 Beginner Sewing Kit, 4 Plain Textile
Cost: 8900 eon
Image: Ancient Plate.png
Description: Ancient Plate
	dmg: 4-7
	add+ 30hp
	def+ 12arm
	req: 30LVL

Item: Basic Fur
Ingredients: 8 Basic Fibers
Cost: 20 eon
Image: Basic Fur.png

Item: Basic Textile
Ingredients: 1 Fragile Thread, 1 Simple Thread
Cost: 100 eon
Image: Basic Textile.png

Item: Beginner Sewing Kit
Ingredients: 5 Iron, 4 Strings, 1 Wood
Cost: 50 eon
Image: Beginner Sewing Kit.png

Item: Bucket Of Water
Ingredients: 1 Empty Bucket
Image: Bucket Of Water.png
Description: Fill buckets 2 maps east of Aeven

Item: Budget Textile
Ingredients: 2 Fragile Thread
Cost: 50 eon
Image: Budget Textile.png

Item: Casual Textile
Ingredients: 2 Soft Thread
Cost: 100 eon
Image: Casual Textile.png

Item: Corrupt Air Core (Bound)
Ingredients: 16 Corrupt Air Piece
Cost: 300 eon
Image: Corrupt Air Core.png
Description: (bound)

Item: Corrupt Ancient Core (Bound)
Ingredients: 16 Corrupt Ancient Piece
Cost: 300 eon
Image: Corrupt Ancient Core.png
Description: (bound)

Item: Corrupt Aqua Core (Bound)
Ingredients: 16 Corrupt Aqua Piece
Cost: 300 eon
Image: Corrupt Aqua Core.png
Description: (bound)

Item: Corrupt Bone Core (Bound)
Ingredients: 16 Corrupt Bone Piece
Cost: 300 eon
Image: Corrupt Bone Core.png
Description: (bound)

Item: Corrupt Death Core (Bound)
Ingredients: 16 Corrupt Death Piece
Cost: 300 eon
Image: Corrupt Death Core.png
Description: (bound)

Item: Corrupt Ice Core (Bound)
Ingredients: 16 Corrupt Ice Piece
Cost: 300 eon
Image: Corrupt Ice Core.png
Description: (bound)

Item: Corrupt Nest Core (Bound)
Ingredients: 16 Corrupt Nest Piece
Cost: 300 eon
Image: Corrupt Nest Core.png
Description: (bound)

Item: Corrupt Ninja Core (Bound)
Ingredients: 16 Corrupt Ninja Piece
Cost: 300 eon
Image: Corrupt Ninja Core.png
Description: (bound)

Item: Corrupt Optica Core (Bound)
Ingredients: 16 Corrupt Optica Piece
Cost: 300 eon
Image: Corrupt Optica Core.png
Description: (bound)

Item: Corrupt Phoenix Core (Bound)
Ingredients: 16 Corrupt Phoenix Piece
Cost: 300 eon
Image: Corrupt Phoenix Core.png
Description: (bound)

Item: Corrupt Proto Core (Bound)
Ingredients: 16 Corrupt Proto Piece
Cost: 300 eon
Image: Corrupt Proto Core.png
Description: (bound)

Item: Corrupt Shadow Core (Bound)
Ingredients: 16 Corrupt Shadow Piece
Cost: 300 eon
Image: Corrupt Shadow Core.png
Description: (bound)

Item: Corrupt Stallion Core (Bound)
Ingredients: 16 Corrupt Stallion Piece
Cost: 300 eon
Image: Corrupt Stallion Core.png
Description: (bound)

Item: Corrupt Swamp Core (Bound)
Ingredients: 16 Corrupt Swamp Piece
Cost: 300 eon
Image: Corrupt Swamp Core.png
Description: (bound)

Item: Dark Textile
Ingredients: 2 Simple Thread, 1 Dark Thread
Image: Dark Textile.png

Item: Dark Thread
Ingredients: 20 Web, 10 Rough Hide, 2 Rough Fur
Cost: 60 eon
Image: Dark Thread.png

Item: Fragile Leather
Ingredients: 1 Beginner Glue, 12 Basic Hide, 20 Basic Fibers
Cost: 100 eon
Image: Fragile Leather.png

Item: Fragile Thread
Ingredients: 10 Jute, 4 Basic Hide, 2 Basic Fur
Cost: 20 eon
Image: Fragile Thread.png

Item: Gallop Bracelet
Ingredients: 6 Pony Tail, 1 Iron, 1 Glass
Cost: 250 eon
Image: Gallop Bracelet.png
Description: Gallop Bracelet
	dmg 3-10 +4hit
	stat+ 1crit 1 pow 1dex
	req: 14LVL

Item: Gallop Bracer
Ingredients: 5 Pony Tail, 1 Iron, 1 Fragile Leather
Cost: 200 eon
Image: Gallop Bracer.png
Description: Gallop Bracer
	stat+ 1pow 1def 1vit
	req: 14LVL

Item: Gallop Necklace
Ingredients: 6 Pony Tail, 2 Iron, 2 Glass
Cost: 300 eon
Image: Gallop Necklace.png
Description: Gallop Necklace
	add+ 10hp 40mp
	stat+ 2eva 2crit 2pow 1vit
	req: 14LVL

Item: Gallop Ring
Ingredients: 7 Pony Tail, 2 Iron, 1 Glass
Cost: 150 eon
Image: Gallop Ring.png
Description: Gallop Ring
	dmg: 1-5 +5hit
	stat+ 2vit
	req: 14LVL

Item: Glass
Ingredients: 4 Sand
Cost: 40 eon
Image: Glass.png

Item: Gothic Dress
Ingredients: 1 Beginner Sewing Kit, 2 Basic Textile, 22 Bat Wing
Cost: 80 eon
Image: Gothic Dress.png
Description: Gothic Dress
	normal (f) clothing
	def+ 1eva 1arm

Item: Grimite
Ingredients: 8 Grimite Ore
Cost: 200 eon
Image: Grimite.png

Item: Ice Bracelet
Ingredients: 1 Ice Cube, 7 Ice Gem, 1 Glass
Cost: 350 eon
Image: Ice Bracelet.png
Description: Ice Bracelet
	dmg: 5-8 +6hit
	stat+ 2crit 2acc 2 aur
	req: 16LVL

Item: Ice Bracer
Ingredients: 1 Ice Cube, 6 Ice Gem, 1 Fragile Leather
Cost: 300 eon
Image: Ice Bracer.png
Description: Ice Bracer
	dmg: 2-5
	stat+ 1acc 1dex 2aur
	req 16LVL

Item: Ice Necklace
Ingredients: 2 Ice Cube, 10 Ice Gem, 2 Glass
Cost: 400 eon
Image: Ice Necklace.png
Description: Ice Necklace
	add+ 40mp
	stat+ 2crit 2vit 2aur
	req: 16LVL

Item: Ice Ring
Ingredients: 1 Ice Cube, 9 Ice Gem, 1 Glass
Cost: 250 eon
Image: Ice Ring.png
Description: Ice Ring
	dmg: 4-7 +7hit
	stat+ 1crit 1vit 3aur
	req: 16LVL

Item: Iron
Ingredients: 8 Iron Ore
Cost: 100 eon
Image: Iron.png

Item: Iron Bar
Ingredients: 4 Iron Ore, 4 Bucket Of Water
Cost: 40 eon
Image: Iron Bar.png

Item: Jungle Belt
Ingredients: 2 Gear Frame, 3 Shiny Coin, 1 Soft Leather
Image: Jungle Belt.png
Description: Jungle Belt
	stat+ 3pow 2def 2vit
	req: 26LVL

Item: Jungle Bracelet
Ingredients: 1 Gear Frame, 3 Shiny Coin, 12 Jungle Leaflet
Cost: 600 eon
Image: Jungle Bracelet.png
Description: Jungle Bracelet
	dmg: 8-14 +10hit
	stat+ 2crit 3def 2acc
	req: 26LVL

Item: Jungle Bracer
Ingredients: 1 Gear Frame, 3 Shiny Coin, 12 Jungi Claw
Cost: 500 eon
Image: Jungle Bracer.png
Description: Jungle Bracer
	dmg: 6-10
	stat+ 1crit 1acc 4vit
	req: 26LVL

Item: Jungle Gloves
Ingredients: 2 Gear Frame, 3 Shiny Coin, 1 Soft Leather
Image: Jungle Gloves.png
Description: Jungle Gloves
	dmg: 8-8
	stat+ 1def 2acc 2vit
	req: 26LVL

Item: Jungle Necklace
Ingredients: 1 Jewelry Base, 3 Shiny Coin, 12 Sun Leaves
Cost: 600 eon
Image: Jungle Necklace.png
Description: Jungle Necklace
	add+ 50mp
	stat+ 3crit 3pow 3vit 2aur
	req: 26LVL

Item: Jungle Ring
Ingredients: 1 Jewelry Base, 3 Shiny Coin, 12 Jungle Leaflet
Cost: 400 eon
Image: Jungle Ring.png
Description: Jungle Ring
	dmg: 6-10 +10hit
	stat+ 2crit 3vit 3aur
	req: 26LVL

Item: Lotus Longbow
Ingredients: 2 Wood Handle, 3 Strings, 2 Corrupt Phoenix Core, 2 Corrupt Aqua Core
Cost: 1600 eon
Image: Lotus Longbow.png
Description: Lotus Longbow
	dmg: 7-12 +8hit
	range: +2
	stat+ 1dex
	req: 20LVL

Item: Natural Thread
Ingredients: 15 Jute, 15 Cotton, 12 Bamboo
Cost: 80 eon
Image: Natural Thread.png

Item: Ocean Belt
Ingredients: 2 Gear Frame, 2 Ancient Coin, 3 Soft Leather
Image: Ocean Belt.png
Description: Ocean Belt
	stat+ 4pow 1def 2vit
	req: 30LVL

Item: Ocean Bracelet
Ingredients: 2 Gear Frame, 3 Ancient Coin, 12 Coral Scale
Cost: 800 eon
Image: Ocean Bracelet.png
Description: Ocean Bracelet
	dmg: 12-18 +12hit
	stat+ 3crit 1def 2acc
	req: 30LVL

Item: Ocean Bracer
Ingredients: 2 Gear Frame, 3 Ancient Coin, 12 Coral Scale
Cost: 700 eon
Image: Ocean Bracer.png
Description: Ocean Bracer
	dmg: 10-14
	stat+ 1crit 1pow 1acc 2vit

Item: Ocean Gloves
Ingredients: 2 Gear Frame, 3 Ancient Coin, 3 Dark Textile
Image: Ocean Gloves.png
Description: Ocean Gloves
	dmg: 9-10
	stat+ 2acc 3vit
	req: 30LVL

Item: Ocean Necklace
Ingredients: 2 Jewelry Base, 4 Ancient Coin, 12 Coral Scale
Cost: 900 eon
Image: Ocean Necklace.png
Description: Ocean Necklace
	add+ 60mp
	stat+ 3crit 4pow 4vit 2aur
	req: 30LVL

Item: Ocean Ring
Ingredients: 2 Jewelry Base, 3 Ancient Coin, 10 Coral Scale
Cost: 700 eon
Image: Ocean Ring.png
Description: Ocean Ring
	dmg: 10-14 +14hit
	stat+ 2crit 3vit
	req: 30LVL

Item: Oriental Textile
Ingredients: 1 Natural Thread, 1 Simple Thread
Cost: 150 eon
Image: Oriental Textile.png

Item: Plain Textile
Ingredients: 2 Simple Thread
Cost: 100 eon
Image: Plain Textile.png

Item: Raider Belt
Ingredients: 1 Gear Frame, 2 Soft Leather, 6 Sand Stone
Image: Raider Belt.png
Description: Raider Belt
	stat+ 2pow 1def 1vit
	req: 20LVL

Item: Raider Gloves
Ingredients: 1 Gear Frame, 2 Soft Leather, 3 Sand Stone
Image: Raider Gloves.png
Description: Raider Gloves
	dmg: 6-6
	stat+ 2acc 1vit
	req:20LVL

Item: Rough Fur
Ingredients: 8 Rough Fibers
Cost: 60 eon
Image: Rough Fur.png

Item: Sand Bracelet
Ingredients: 1 Gear Frame, 9 Sand Stone, 9 Gnome Spear
Cost: 400 eon
Image: Sand Bracelet.png
Description: Sand Bracelet
	dmg 6-12 +8hit
	stat+ 2crit 1def 2acc
	req: 20LVL

Item: Sand Bracer
Ingredients: 1 Gear Frame, 10 Sand Stone, 5 Iron
Cost: 300 eon
Image: Sand Bracer.png
Description: Sand Bracer
	dmg: 4-8
	stat+ 1pow 2acc 2vit
	req: 20LVL

Item: Sand Necklace
Ingredients: 1 Jewelry Base, 12 Sand Stone, 6 Mini Rock, 2 Glass
Cost: 450 eon
Image: Sand Necklace.png
Description: Sand Necklace
	add+ 50mp
	stat+ 2crit 2pow 2vit 2aur
	req: 20LVL

Item: Sand Ring
Ingredients: 1 Jewelry Base, 8 Sand Stone, 8 Mini Rock
Cost: 300 eon
Image: Sand Ring.png
Description: Sand Ring
	dmg: 5-8 +8hit
	stat+ 2crit 3vit 3aur
	req: 20LVL

Item: Shadow Belt
Ingredients: 3 Gear Frame, 6 Grimite, 3 Simple Leather
Image: Shadow Belt.png
Description: Shadow Belt
	stat+ 5pow 1def 3vit
	req: 38LVL

Item: Shadow Bracelet
Ingredients: 3 Gear Frame, 14 Demon Soul, 4 Grimite
Cost: 960 eon
Image: Shadow Bracelet.png
Description: Shadow Bracelet
	dmg: 14-20 +13hit
	stat+ 3crit 1def 3acc
	req: 38LVL

Item: Shadow Bracer
Ingredients: 3 Gear Frame, 13 Demon Soul, 4 Grimite
Cost: 800 eon
Image: Shadow Bracer.png
Description: Shadow Bracer
	dmg: 14-18
	stat+ 1crit 2pow 2acc 1vit
	req: 38LVL

Item: Shadow Gloves
Ingredients: 3 Gear Frame, 14 Demon Soul, 4 Dark Textile
Image: Shadow Gloves.png
Description: Shadow Gloves
	dmg: 10-14
	stat+ 3acc 2vit
	req: 38LVL

Item: Shadow Necklace
Ingredients: 4 Jewelry Base, 14 Demon Soul, 1 Corrupt Shadow Core
Cost: 1000 eon
Image: Shadow Necklace.png
Description: Shadow Necklace
	add+ 60mp
	stat+ 3crit 5pow 4vit 3aur
	req: 38LVL

Item: Shadow Ring
Ingredients: 3 Jewelry Base, 12 Demon Soul, 4 Grimite
Cost: 860 eon
Image: Shadow Ring.png
Description: Shadow Ring
	dmg: 12-16 +16hit
	stat+ 2crit 2vit
	req: 38LVL

Item: Simple Leather
Ingredients: 2 Beginner Glue, 5 Rough Hide, 20 Basic Fibers
Cost: 300 eon
Image: Simple Leather.png

Item: Simple Thread
Ingredients: 12 Cotton, 5 Basic Hide, 3 Basic Fur
Cost: 60 eon
Image: Simple Thread.png

Item: Skylar Belt
Ingredients: 1 Fragile Leather, 7 Chicken Feather
Image: Skylar Belt.png
Description: Skylar Belt
	stat+ 2pow 1def
	req: 12LVL

Item: Skylar Gloves
Ingredients: 1 Fragile Leather, 8 Chicken Feather
Image: Skylar Gloves.png
Description: Skylar Gloves
	dmg 4-4
	stat+ 2acc
	req: 12LVL

Item: Skylar Necklace
Ingredients: 9 Fox Fur, 9 Chicken Feather, 1 Strings
Cost: 1200 eon
Image: Skylar Necklace.png
Description: Skylar Necklace
	add+ 40mp
	stat+ 4eva 2crit 1pow 2dex
	req: 12LVL

Item: Soft Fur
Ingredients: 8 Soft Fibers
Cost: 40 eon
Image: Soft Fur.png

Item: Soft Leather
Ingredients: 2 Beginner Glue, 10 Soft Hide, 16 Soft Fibers
Cost: 200 eon
Image: Soft Leather.png

Item: Soft Thread
Ingredients: 10 Web, 3 Soft Hide, 2 Soft Fur
Cost: 80 eon
Image: Soft Thread.png

Item: Strings
Variation1: 5 Jute
Cost: 30 eon
Variation2: 5 Web
Cost: 30 eon
Variation3: 5 Silk
Cost: 30 eon
Variation4: 5 Cotton
Cost: 30 eon
Image: Strings.png

Item: Supreme Tech Core
Variation 1: 3 Corrupt Ancient Core, 3 Corrupt Proto Core
Variation 2: 3 Corrupt Ancient Core (Bound), 3 Corrupt Proto Core (Bound)
Image: Supreme Tech Core.png

Item: Supreme Ultima Core
Variation 1: 2 Corrupt Stallion Core, 2 Corrupt Death Core, 2 Corrupt Optica Core, 2 Corrupt Ninja Core
Variation 2: 2 Corrupt Stallion Core (Bound), 2 Corrupt Death Core (Bound), 2 Corrupt Optica Core (Bound), 2 Corrupt Ninja Core (Bound)
Image: Supreme Ultima Core.png

Item: Ultima Blade
Ingredients: 20 Iron Bar, 1 Wood Handle, 1 Supreme Ultima Core
Cost: 3000 eon
Image: Ultima Blade.png
Description: Ultima Blade
	normal weapon
	dmg: 50-60 +44hit
	stat+ 4crit
	req: 38LVL

Item: Wood
Ingredients: 4 Wood Log
Cost: 30 eon
Image: Wood.png

Item: Wood Handle
Ingredients: 4 Wood
Cost: 60 eon
Image: Wood Handle.png
